+selection() {
  color: #fff;
  background-color: rgba(60, 184, 120, 0.99);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-size: 16px;
  line-height: 1.2;
}

.main {}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .75em 0 .75em;
}

a {
  transition: color .3s ease;
  color: light-grey;
  text-decoration: none;
  &:hover {
    color: green;
  }
}


//
// HEADER
// ******************************************************************

header {
  background-image: url('/assets/img/coming-soon-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;

  h1 {
    color: yellow;
    font-size: 6em;
    font-weight: 200;
  }

  h2 {
    font-size: 3em;
    font-style: italic;
  }
}

.sub-header {
  background-color: purple;
  .wrapper {
    padding: 20px;
  }

  h2 {
    padding-bottom: 0;
  }
}


screen-color(color) {
  h3 { color: color; }
  .screen span {
    box-shadow: 0 0 0 1px color;
    color: color;
  }
}

screen-background-color(color) {
  background-color: color;
  &:before {
    background-color: color;
  }
}

//
// MODULES
// ******************************************************************
.modules { padding-top: 100px; }
.module {
  .screen {
    background-color: purple;
    width: 100%;
    height: 200px;
    position: relative;

    &.black {
      screen-background-color(transparent);
      box-shadow: 0 0 0 1px rgba(light-purple, .1);
      h3 {
        display: block;
        position: absolute;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -1.4em;
        padding: 10px;
        left: 10px;
        right: 10px;
        z-index: 2;
      }
    }

    &:hover {
      .overlay { opacity: 1; }
    }

    .overlay {
      transition: opacity .3s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(black, .95);
      z-index: 10;
      opacity: 0;
      padding: 40px 20px 20px;

      ul {
        line-height: 1.6;
        li {
          color: light-purple;

          &.done { text-decoration: line-through; }

          &.in-progress { color: yellow; }

        }
      }
    }

    span {
      display: block;
      position: absolute;
      font-size: 20px;
      text-align: center;
      top: 50%;
      margin-top: -1em;
      padding: 10px;
      left: 30px;
      right: 30px;
      z-index: 2;
    }
  }

  &.in-progress {
    screen-color(yellow);
  }

  &.done {
    screen-color(green);
  }

  &.not-started {
    screen-color(rgba(light-grey, .4));
  }

  .title a {
    position: relative;

    &:before,
    &:after {
      transition: margin 0.3s ease,
                  opacity 0.2s ease;
      display: inline-block;
      position: absolute;
      opacity: 0;
    }

    &:before {
      left: 0;
      margin-left: 0;
      content: '[';
    }

    &:after {
      right: 0;
      margin-right: 0;
      content: ']';
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }

  margin-bottom: column-gutter;
}

.screen {

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(purple, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }


  &.target-frame {
    background-image: url('/assets/img/modules/target-frame.jpg');
  }
}


//
// CONTRIBUTORS
// ******************************************************************
section.contributors {
  .panel {
    height: 200px;
    margin-bottom: 20px;
  }
  h3 {
    color: red;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: light-purple;
    border-bottom: 1px solid purple;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: .5em;
  }
}


//
// FOOTER
// ******************************************************************

footer {
  background: purple;
  text-align: center;
  padding: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}